.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .videoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .thumbnail {
    margin-bottom: 10px;
  }
  
  .title {
    text-align: center;
  }