.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logoContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    align-items: center;
    gap: 20px; /* Adjust the gap as needed */
}