.container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.videoWrapper {
    flex: 1;
}

.video {
    width: 80%; /* Ensure video takes up the full width of its container */
    padding-left: 30px;
}

.relatedFeed {
    width: 300px; /* Adjust as needed */
}

.relatedFeedContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 300px;
}

.thumbnail {
    margin-bottom: 10px;
}

.stats {
    margin-top: 10px;
}

.stats span {
    margin-right: 15px;
}

.likeButton,
.dislikeButton {
    margin-right: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.commentsSection {
    margin-top: 20px;
}

.comment {
    margin-bottom: 10px;
}